@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

h1{
    font-family: 'Langar', cursive;
    /* font-size: 200px; */
    font-size: 3rem;
    /* font-size: 10em; */
    /* 20 px = 1rem
    18.5 px = 1 em */

    color: yellow;
    color:rgb(214, 50, 0);
    letter-spacing: 0.2rem;
    /* float: right; */
    text-align: center;
}


p{
   font-weight: 200;  
   text-align: justify; 
   width: 90%;
   margin: auto;
}