<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARTOW</title>
  <!-- Bootstarp CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="./images/Main Img/FAVICON.png" type="image/x-icon"> -->
  <link rel="shortcut icon"
    href="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    type="image/x-icon">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Owl Carousel -->
    <link rel="stylesheet" href="./owlCarousel/owl.carousel.css">
    <link rel="stylesheet" href="./owlCarousel/owl.theme.green.css">
    <script src="./owlCarousel/jquery.min.js"></script>
    <script src="./owlCarousel/owl.carousel.min.js"></script>



    <!-- Animate Css -->
    <link rel="stylesheet" href="./Animation/animate.css">




    <!-- Css Links From Public/css -->
    <link rel="stylesheet" href="./css/style.css">

</head>
<style>
  body {
    background-color: rgb(0, 0, 0) !important;
  }

</style>

<body>

  <!-- NAVBAR DESIGN -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand MyLogo" style="font-weight: 800;" href="/home">ARTOW</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse secondDivNAv" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 navContent">        
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./profile.html">Profile Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./messages.html">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./browsejobs.html">Browse jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services">Services</a>
          </li>

          <!-- Drop Down Open This When Needed -->
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->

        </ul>
        <!-- Search Box -->
        <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->


        <button class="btn btn-outline-danger" type="submit">Log Out</button>
      </div>
    </div>
  </nav>




<section class="container">
    <div class="row">
        <div class="col col-sm-12 col-lg-12 col-md-12 search">
            <input type="search" placeholder="Search Jobs">
        </div>
    </div>
</section>



<div class="container">
   
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Design my book cover!</a>
            <p>I am in charge of a book collaboration with 25 authors. The book is called The Truth About Success and will have chapters on everything from success in finances, to success in motherhood, success in marriage, success in business, etc. I need the main author's name to be bigger than the others but I need the other 24 authors somewhere on the cover. Most of the contributors will be women entrepreneurs and that's who we will be targeting with this book. The book will be both a print copy and e-book.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;55000</span> Avg bid</p>
            <p>7 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>




    
    <div class="row CardallHolder wow zoomInLeft">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">New logo design</a>
            <p>I am looking for someone who will create a simple but professional and eye catching logo.

                I am looking for something abstract and/or geometric, see attached logos that I like. Our company name is Charron & Co. and we are a multi-trade industrial construction company.
                
                This is my second time posting for the same logo creation, I was not satisfied with the options the first time around.
                
                I am looking for unlimited revisions as getting exactly what I am looking for is proving to be more of a challenge than I thought.
                
                if you have any initial ideas, it will help me choose an artist that will help my complete this job.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;12300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>





    
    
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Need 2D Storyboard Artist, Duration will be around 1-2 mins. Custom storyboard design will be preferred most.</a>
            <p>storyboard artist animator, cost hiring storyboard artist, artist need myspace background, storyboard artist malaysia, storyboard artist illustrator animator, storyboard artist hiring, storyboard cost hiring storyboard artist, artist need bio, character design artist storyboard artist flash animator, artist need comic, storyboard artist salary, storyboard artist needed, i need existing source code for a job portal to be delivered in 1-2 days, 2d freelance game artist need, need blogger - make 1-2 posts, microsoft project 1 day duration spans 2 days, 1/2 inch custom stickers</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;2300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>


    
    
    <div class="row CardallHolder wow zoomInLeft">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Interactive graphics with kinect in TouchDesigner</a>
            <p>I am looking for a person who can prepare a one-time project in TouchDesigner. Python and kinect knowledge is needed. It is part of the MA thesis at the Academy of Fine Arts. A cube is to be displayed on the wall by the projector, which can be rotated / zoom in / zoom out by means of hand movements. Something like this [login to view URL]</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;9000</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>


    
    
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Draw an original character semi-spooky/whimsical design for merch.</a>
            <p>I would like to have an original character drawn of a pale asian girl with long brown hair in a yellow folded beanie with round glasses holding a stuffed orange bear. She has full arched eyebrows. She'll be sitting in a glass jar. She'll be wearing a loosely fitted sweater with fitted black pants/sweatpants. She can be wearing socks. I would also like a small gray and white cat drawn in the jar alongside the girl. The art style I'm looking for can range from very illustrative and simple to more complex and spooky. Images are provided as a reference and sort of "mood board" to give a sense of how it should turn out. I would ideally like to put this on apparel and sell it.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;12300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>



</div>






<div class="container">
   
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Design my book cover!</a>
            <p>I am in charge of a book collaboration with 25 authors. The book is called The Truth About Success and will have chapters on everything from success in finances, to success in motherhood, success in marriage, success in business, etc. I need the main author's name to be bigger than the others but I need the other 24 authors somewhere on the cover. Most of the contributors will be women entrepreneurs and that's who we will be targeting with this book. The book will be both a print copy and e-book.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;55000</span> Avg bid</p>
            <p>7 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>




    
    <div class="row CardallHolder wow zoomInLeft">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">New logo design</a>
            <p>I am looking for someone who will create a simple but professional and eye catching logo.

                I am looking for something abstract and/or geometric, see attached logos that I like. Our company name is Charron & Co. and we are a multi-trade industrial construction company.
                
                This is my second time posting for the same logo creation, I was not satisfied with the options the first time around.
                
                I am looking for unlimited revisions as getting exactly what I am looking for is proving to be more of a challenge than I thought.
                
                if you have any initial ideas, it will help me choose an artist that will help my complete this job.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;12300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>





    
    
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Need 2D Storyboard Artist, Duration will be around 1-2 mins. Custom storyboard design will be preferred most.</a>
            <p>storyboard artist animator, cost hiring storyboard artist, artist need myspace background, storyboard artist malaysia, storyboard artist illustrator animator, storyboard artist hiring, storyboard cost hiring storyboard artist, artist need bio, character design artist storyboard artist flash animator, artist need comic, storyboard artist salary, storyboard artist needed, i need existing source code for a job portal to be delivered in 1-2 days, 2d freelance game artist need, need blogger - make 1-2 posts, microsoft project 1 day duration spans 2 days, 1/2 inch custom stickers</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;2300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>


    
    
    <div class="row CardallHolder wow zoomInLeft">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Interactive graphics with kinect in TouchDesigner</a>
            <p>I am looking for a person who can prepare a one-time project in TouchDesigner. Python and kinect knowledge is needed. It is part of the MA thesis at the Academy of Fine Arts. A cube is to be displayed on the wall by the projector, which can be rotated / zoom in / zoom out by means of hand movements. Something like this [login to view URL]</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;9000</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>


    
    
    <div class="row CardallHolder wow zoomInRight">
        <div class="col col-sm-10 col-lg-10 col-md-8 BrowseCards">
            <a href="#">Draw an original character semi-spooky/whimsical design for merch.</a>
            <p>I would like to have an original character drawn of a pale asian girl with long brown hair in a yellow folded beanie with round glasses holding a stuffed orange bear. She has full arched eyebrows. She'll be sitting in a glass jar. She'll be wearing a loosely fitted sweater with fitted black pants/sweatpants. She can be wearing socks. I would also like a small gray and white cat drawn in the jar alongside the girl. The art style I'm looking for can range from very illustrative and simple to more complex and spooky. Images are provided as a reference and sort of "mood board" to give a sense of how it should turn out. I would ideally like to put this on apparel and sell it.</p>
            <div class="taglist">
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
                <a href="#">None-Tags </a>
            </div>
        </div>

        <div class="col col-lg-2 col-md-4 col-sm-2 CardDetails">
            <p><span>&#x20B9;12300</span> Avg bid</p>
            <p>22 Bids</p>
            <a href="#">Bid Now</a>
        </div>

    </div>



</div>






























<br>


  
  <!-- Footer Section -->

  <footer>
    <br>
        <div class="container">
          <div class="row">
    
    
            <div class="col col-lg-2 col-md-2 col-sm-6 helper">
              <div class="imgHolder">
                <img src="./images/MainImg/ARTOW LOGO.png" class="img-fluid" alt="NoImg">
              </div>
            </div>
    
            <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
              <h4>Freelancer</h4>
              <a href="#">Artist</a>
              <a href="#">Projects</a>
              <a href="#">Categories</a>
              <a href="#">Preferred Artist</a>
            </div>
    
            <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
              <h4>About</h4>
              <a href="#">About us</a>
              <a href="#">Security</a>
              <a href="#">Investor</a>
              <a href="#">Sitemap</a>
              <a href="#">News</a>
            </div>
    
            <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
              <h4>Terms</h4>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms and Conditions</a>
              <a href="#">How it Works</a>
              <a href="#">Copyright Policy</a>
              <a href="#">Fees and Charges</a>
              <a href="#">Help & Support</a>
            </div>
    
    
            <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
              <h4>Social Media</h4>
              <div class="SocialMediacarrier">
                <a href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </div>
              </div>
    
          </div>
          
          <hr>
    
    
          <div class="row FSecondLayer">
            <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
              <a>50,005,619</a>
              <a>Registered Users</a>
            </div>
    
            <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
              <a>19,287,555</a>
              <a>Total Jobs Posted</a>
            </div>
    
    
            <div class="col col-sm-12 col-md-12 col-lg-6 FooterLayerTwo">
            <a>Copyright &copy; Artow 2021 All Rights Reserved !</a>
            </div>
    
          </div>
    
    
          
          
        </div>
        <br>
      </footer>
    
    
    


  












  <!-- Bootstarp JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- My Script -->
  <script src="./js/script.js"></script>

  <!-- Wow JS -->
  <script src="./Animation/wow.min.js"></script>
  <!-- Wow Script -->
  <script>
  new WOW().init();
  </script>


</body>

</html>