<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARTOW</title>
  <!-- Bootstarp CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="./images/Main Img/FAVICON.png" type="image/x-icon"> -->
  <link rel="shortcut icon"
    href="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    type="image/x-icon">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Owl Carousel -->
    <link rel="stylesheet" href="./owlCarousel/owl.carousel.css">
    <link rel="stylesheet" href="./owlCarousel/owl.theme.green.css">
    <script src="./owlCarousel/jquery.min.js"></script>
    <script src="./owlCarousel/owl.carousel.min.js"></script>



    <!-- Animate Css -->
    <link rel="stylesheet" href="./Animation/animate.css">




    <!-- Css Links From Public/css -->
    <link rel="stylesheet" href="./css/style.css">

</head>
<style>
  body {
    background-color: rgb(0, 0, 0) !important;
  }

</style>

<body>

  <!-- NAVBAR DESIGN -->


<!-- NAVBAR DESIGN -->

    {{>navbar}}





 <!-------------- Header For Main Page ------------>

<section class="Main-Header">
    <div class="row" id="first">    
      <div class="owl-carousel owl-theme">
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img11.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img12.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img13.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img14.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img15.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img1.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img2.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img3.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img4.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img5.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img6.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img7.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img8.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img9.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img10.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img16.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img17.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img18.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img19.jpg" alt="No_Img"></div>
        <div class="item wow fadeInDown"><img src="./images/ArtowImages/img20.jpg" alt="No_Img"></div>
    </div>
     
    </div>

</section>

<br>
<br>

  <div class="ThreeBtn">
    <a href="/store" class="btn btn-outline-primary" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Art Store</a>
    <a href="/jobs" class="btn btn-outline-primary" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Browse Job</a>
    <a href="/profile" class="btn btn-outline-primary" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Profile Info</a>
  </div>
  
  <br>
  
  <!-- <div class="ThreeBtn">
    <a href="/postjob" class="btn btn-outline-danger" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Post A Job</a>
    <a href="/hire" class="btn btn-outline-warning" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Hire An Artist</a>
    <a href="/artistpackage" class="btn btn-outline-info" ><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>      Be An Artist</a>
  </div> -->

  <!-- <br> -->
  <!-- <br> -->




  
 <!-------------- Second Layer ------------>

  <section class="secondLayer">
    <div class="container">
      <h1 style="color: white;">Need something done?</h1>
      <br>
      <div class="row">
        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/post-a-job-v3.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp; Post a job</h3>
          </div>
          <p style="color: white;">It's easy. Simply post a job you need completed and receive competitive bids from freelancers within minutes.</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-4">
          <div class="UpperPart">
            <img src="./images/iconsvg/work.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">Choose Artist</h3>
          </div>
          <p style="color: white;">Whatever your needs, there will be a freelancer to get it done: from web design, mobile app development, virtual assistants, product manufacturing, and graphic design (and a whole lot more).</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/pay-safely-v3.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;Pay safely</h3>
          </div>
          <p style="color: white;">With secure payments and thousands of reviewed professionals to choose from, Freelancer.com is the simplest and safest way to get work done online.</p>
        </div>

      </div>
    </div>
  <hr>
  </section>








 <!-------------- Second Layer Style Extending  ------------>
  
  <section class="secondLayer">
    <div class="container">
      <h1 style="color: white;">What's great about it?</h1>
      <br>
    
      <div class="row">
        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img1.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;See portfolios</h3>
          </div>
          <p style="color: white;">Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img2.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;View bids</h3>
          </div>
          <p style="color: white;">Receive free bids from our talented freelancers within seconds.</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img3.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;Live chat</h3>
          </div>
          <p style="color: white;">You can live chat with your freelancers to get constant updates on the progress of your work.</p>
        </div>

      </div>
      <br>



      <div class="row">
        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img4.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;Pay for quality</h3>
          </div>
          <p style="color: white;">Pay for work when it has been completed and you're 100% satisfied.</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img5.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;Track progress</h3>
          </div>
          <p style="color: white;">Keep up-to-date and on-the-go with our time tracker, and mobile app.</p>
        </div>

        <div class="col col-sm-8 col-md-6 col-lg-3">
          <div class="UpperPart">
            <img src="./images/iconsvg/img6.svg" class="img-fluid" alt="NoImg">
            <h3  style="color: white;">&nbsp;&nbsp;&nbsp;24/7 support</h3>
          </div>
          <p style="color: white;">We're always here to help. Our support consists of real people who are available 24/7.</p>
        </div>

      </div>

    </div>
  <hr>
  </section>

  <br><br>







<!------------ Third Layer Design ---------------> 

  <section class="thirdLayer">
    <div class="container">
      <h1 style="color: white;">Crowd favorites</h1>
      <h2 style="color: white;">Here are some of our most popular projects:</h2>
      <br>

      <div class="row">
       
        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/sculpture.jpg" class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Sculpture</a>
              <h5>From &#8377;22000</h5>
              </p>
            </div>
          </div>
        </div>


        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/painting.jpg" class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Panting</a>
              <h5>From &#8377;7500</h5>
              </p>
            </div>
          </div>
        </div>



        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/design.jpg" class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Design</a>
              <h5>From &#8377;14999</h5>
              </p>
            </div>
          </div>
        </div>


          
        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/craft-time.jpg"  class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Crafting</a>
              <h5>From &#8377;1400</h5>
              </p>
            </div>
          </div>
        </div>


        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/girlpainting.jpg" class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Painting</a>
              <h5>From &#8377;1900</h5>
              </p>
            </div>
          </div>
        </div>



        <div class="col col-sm-12 col-md-6 col-lg-4">
          <div class="card">
            <img src="./images/CategoryImg/bestart.jpg" class="card-img-top" alt="NoImg">
            <div class="card-body">
              <p class="card-text"><a href="#">Artwork</a>
              <h5>From &#8377;100000</h5>
              </p>
            </div>
          </div>
        </div>





      </div>


      <div class="buttonholder">
        <a href="#">See More</a>
      </div>

    </div>
  </section>




















  <!-- Customers // Team Reviews  -->


  <section class="teamArea">
    <h1 style="text-align: center;color: #fff; text-decoration: underline;">Our Customers Review</h1>
    <div class="container">

      <div class="row">

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>Abhishek Nayak</h1>
          <div class="imgHolder">
          </div>
          <p>Quality artworks,worth every penny! </p>

          <div class="starHolder">
            ⭐⭐⭐⭐⭐
          </div>
        </div>

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>David</h1>
          <div class="imgHolder">
          </div>
          <p>Overwhelmed with handmade artwork...</p>
          <div class="starHolder">
            ⭐⭐⭐⭐⭐
          </div>
        </div>

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>Ayesha Dash</h1>
          <div class="imgHolder">
          </div>
          <p>Useful for those who want to make careers in fine arts.</p>
          <div class="starHolder">
            ⭐⭐⭐⭐
          </div>
        </div>


      </div>

      <div class="row SecondCardRow">

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>Rahul Malhotra</h1>
          <div class="imgHolder">
          </div>
          <p>Got what I dreamt of </p>

          <div class="starHolder">
            ⭐⭐⭐⭐
          </div>
        </div>

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>Josephine</h1>
          <div class="imgHolder">
          </div>
          <p>Excellent service, pleased with the work.</p>
          <div class="starHolder">
            ⭐⭐⭐⭐⭐
          </div>
        </div>

        <div class="col col-sm-12 col-lg-3 col-md-5 TeamCard wow zoomInDown">
          <h1>Sumit Arrora</h1>
          <div class="imgHolder">
          </div>
          <p>Excellent service,helped me get exactly what I was looking for.</p>
          <div class="starHolder">
            ⭐⭐⭐⭐⭐
          </div>
        </div>


      </div>

    </div>
  </section>





<br><br>











<!------------ Fourth Layer Design ---------------> 

<section class="fourthLayer">
  <div class="container">
    <div class="row">
      
      <div class="col col-lg-5 col-md-8 col-sm-12 CARDCOMPONENT">

        <div class="imgHolder">
          <img src="./images/FourthLayerImage/img1.jpg" alt="NoIMg">
        </div>

        <div class="CardContent">
          <h3>How To Make A Artist Profile</h3>
          <p>Go to profile then select the profile change to artist then select the package and become an artist</p>
          <div class="buttonholder">
            <a href="#">Visit Profile</a>
          </div>
        </div>

      </div>


      <div class="col col-lg-5 col-md-8 col-sm-12 CARDCOMPONENT">

        <div class="imgHolder">
          <img src="./images/FourthLayerImage/img2.jpg" alt="NoIMg">
        </div>

        <div class="CardContent">
          <h3>Company budget? Get more done for less</h3>
          <p>Use our workforce of 48 million to help your business achieve more.</p>
          <div class="buttonholder">
            <a href="/contact">Contact Us</a>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>

<br>




















  
  <!-- Footer Section -->

  <footer>
<br>
    <div class="container">
      <div class="row">


        <div class="col col-lg-2 col-md-2 col-sm-6 helper">
          <div class="imgHolder">
            <img src="./images/MainImg/ARTOW LOGO.png" class="img-fluid" alt="NoImg">
          </div>
        </div>

        <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
          <h4>Freelancer</h4>
          <a href="#">Artist</a>
          <a href="#">Projects</a>
          <a href="#">Categories</a>
          <a href="#">Preferred Artist</a>
        </div>

        <div class="col col-lg-2 col-md-2 col-sm-6 FirstPart">
          <h4>About</h4>
          <a href="#">About us</a>
          <a href="#">Security</a>
          <a href="#">Investor</a>
          <a href="#">Sitemap</a>
          <a href="#">News</a>
        </div>

        <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
          <h4>Terms</h4>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms and Conditions</a>
          <a href="#">How it Works</a>
          <a href="#">Copyright Policy</a>
          <a href="#">Fees and Charges</a>
          <a href="#">Help & Support</a>
        </div>


        <div class="col col-lg-2 col-md-3 col-sm-6 FirstPart">
          <h4>Social Media</h4>
          <div class="SocialMediacarrier">
            <a href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          </div>

      </div>
      
      <hr>


      <div class="row FSecondLayer">
        <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
          <a>50,005,619</a>
          <a>Registered Users</a>
        </div>

        <div class="col col-sm-12 col-md-6 col-lg-3 FooterLayerTwo">
          <a>19,287,555</a>
          <a>Total Jobs Posted</a>
        </div>


        <div class="col col-sm-12 col-md-12 col-lg-6 FooterLayerTwo">
        <a>Copyright &copy; Artow 2021 All Rights Reserved !</a>
        </div>

      </div>


      
      
    </div>
    <br>
  </footer>































  <!-- Bootstarp JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- My Script -->
  <script src="./js/script.js"></script>

  <!-- Wow JS -->
  <script src="./Animation/wow.min.js"></script>
  <!-- Wow Script -->
  <script>
  new WOW().init();
  </script>


</body>

</html>