<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARTOW</title>
  <!-- Bootstarp CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="./images/Main Img/FAVICON.png" type="image/x-icon"> -->
  <link rel="shortcut icon"
    href="https://images.pexels.com/photos/1964471/pexels-photo-1964471.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    type="image/x-icon">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


  <!-- Owl Carousel -->
  <link rel="stylesheet" href="./owlCarousel/owl.carousel.css">
  <link rel="stylesheet" href="./owlCarousel/owl.theme.green.css">
  <script src="./owlCarousel/jquery.min.js"></script>
  <script src="./owlCarousel/owl.carousel.min.js"></script>



  <!-- Animate Css -->
  <link rel="stylesheet" href="./Animation/animate.css">




  <!-- Css Links From Public/css -->
  <link rel="stylesheet" href="./css/style.css">

</head>
<style>
  body {
    background-color: rgb(0, 0, 0);
  }
</style>

<body>

  <!-- NAVBAR DESIGN -->

  {{>navbar}}






  <!-- Wave Section -->

  <section class="waveMain_section">
    <div class="wave">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="Mycontent">
      <div class="container">
        <div class="row">
          <div class="col col-lg-6 col-sm-12 col-md-12">
            <h2>Our Services</h2>
            <p style="text-align: justify; font-size:10px;">1.Easy access to prospective buyers. <br>
              ARTOW helps it’s artist to reach out to the prospective buyers easily from the targeted audience,which
              results in smooth functioning of trade and communication with the buyer and artists. <br>

              <span class="cutoutServices"> 2.Exhibit and sell your art works. <br>
                ARTOW provides a platform for all our member artists to exhibit their artworks and sell them to the
                customers globally within the comfort of their ...:::/.... (workspace) <br>

                3.Personalised chat option <br>
                We make it easy for you to understand what the customer desires and wants by communicating with
                them,through the chat option provided within the app. This eliminates uncertainty,ensures clarity and
                maximum satisfaction for the customers as well us our artists. <br>


                4.Profit Oriented <br>
                ARTOW not only focuses on customer satisfaction but also the well-being of our members.We provide all
                our member artisans a dice to trade and generate income,without any selling limit. <br>


                5.Auction <br>
                ARTOW have auction as a service where artist can exhibit their work and the buyers can place competitive
                bids.Closing the deal will be the artist sole will. <br>

                6.Advertising and profile boosting: <br>
                On request,ARTOW provides advertising and profile boosting services.Separate presentations are provided
                for our artist’s profiles,so that, easy access to ones profile is guaranteed. <br>

                7.Through US you grow. <br>
                Artow also gives assistance to aspiring artists to full fill their dream career in the field of art,by
                becoming a member and showcasing their talents. <br>



              </span>
            </p>

            <a href="#" class="ReadMoreBth">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>







  <!-- Bootstarp JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- My Script -->
  <script src="./js/script.js"></script>

  <!-- Wow JS -->
  <script src="./Animation/wow.min.js"></script>
  <!-- Wow Script -->
  <script>
    new WOW().init();
  </script>


</body>

</html>